* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*border: 1px solid black;*/
}

.top-bar {
    height: 40px;
    width: 100%;
    border-bottom: 1px solid lightgray;
    padding: 5px;
    display: flex;
    align-items: center;
}
@media (max-width:420px) {
    .top-bar {
        height: 100px;
    }
}
.logo {
    position: fixed;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    img {
        height: 30px;
    }
}
.logo-text {
    font-family: "Montserrat", sans-serif;
}
.top-bar-nav {
    position: fixed;
    right: 0;
    height: 100%;
    font-family: 'Bitter',serif;
    font-size: 15px;
    display:flex;
    gap:1em;
}
.top-bar-nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
}
